.modal {
    display: block;
    margin: 20px auto;
    width: calc(100% - 20px) ;
    height: auto;
}

.modal p {
    margin: 10px 0;
}

.modal-action {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

@media (min-width: 600px) {
    .modal {
        width: 500px;
    }
}