@import './shared/forms';
@import './shared/container';
@import './shared/paper';
@import './shared/modal';
@import './loading/loading';

body {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.no-img-store {
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 250px;
    height: 250px;
    margin-top: 10px;
}

.no-img-product {
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 250px;
    height: 180px;
    margin-top: 10px;
}